body {
    margin: 0;
    background-color: #3d3d3d;
    color: #FFF;
    font-family: sans-serif;
}

h1{

}

h2{

}

#avatar{

}

#photo-credit{

}

#main-menu{

}

.copy{

}

.icon{
    
}
